<h1>Todos#index</h1>

<table>
  <thead>
    <tr>
      <th>Todo</th>
      <th>Status</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.title %></td>
        <td><%= todo.status %></td>
        <td><%= link_to "Delete", todo_path(todo), method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "Add Todo", new_todo_path %></p>
